<!DOCTYPE html>
<html>
<head>
  <title>Curtainjs</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<script>
    $(function(){
       $('.curtains').curtain({
           scrollSpeed: 300,
           controls: '.menu',
           curtainLinks: '.curtain-links',
           nextSlide: function(){
            console.log("ok");
           }
       });
    });
</script>
</html>
